@import url('./font.css');
@import url('./tags.css');
@import url('./button.css');
@import url('./dropdown.css');
@import url('./navigation.css');
@import url('./base.css');
@import url('./header.css');
@import url('./alert.css');

/*
header{border:10px solid #00ff40;}
#content{border:10px solid #00bfff;}
footer{border:10px solid #6a00ff;}
*/