/* Colors */
body{color:#333;}
.common-component .row .title h4{color:#555;}
.common-component .row .title h5{color:#777;}

/* Background */
.header-top{background:#333;}
.header-main{background:#fff;}
.header-btm{background:#eee;}
#content{background:#eee;}
footer{background:#454545;}

/* Base Structure : Begin */
.app{}
#wrapper{}
header{}
#content
footer{}
header{}
#content{}
footer{}
/* Base Structure : End */


/* Elements :Begin */
#wrapper, header, #content, footer{}
.header-top,
.header-main,
.header-btm{width:100%; float:left; clear:both;}
.header-top{height:5px;}
.header-main{height:85px;}
.header-btm{}
#content{min-height:450px; padding:20px; overflow:auto;}
footer{height:200px;}
.clear-fix{clear:both;}
/* Elements :End */

/* Common Component :Begin */
.common-component{width:100%; float:left; clear:both;}
.common-component .row{clear:both; padding:30px 20px;}
.common-component .row .title h4{clear:both; padding:0 0 10px; font-size:18px; line-height:18px;} 
.common-component .row .title h5{clear:both; padding:0 0 10px; font-size:12px; line-height:12px;} 
.common-component .row .combine{clear:both;}
/* Common Component :End */