/* Colors */
body{color:#333;}

/* Background */
.header-top{background:#333;}
.header-main{background:#fff;}
.header-btm{background:#eee;}
#content{background:#eee;}
footer{background:#454545;}

/* Base Structure : Begin */
.app{}
#wrapper{}
header{}
#content
footer{}
header{}
#content{}
footer{}


/* Elements */
#wrapper, header, #content, footer{}
.header-top,
.header-main,
.header-btm{width:100%; float:left; clear:both;}
.header-top{height:5px;}
.header-main{height:85px;}
.header-btm{}
#content{min-height:450px; padding:20px; }
footer{height:200px;}
.clear-fix{clear:both;}
/* Base Structure : End */