body{color:#333;}
#wrapper, header, #content, footer{}
.header-top,
.header-main,
.header-btm{width:100%; float:left; clear:both;}
.header-top{background:#333; height:5px;}
.header-main{background:#fff; height:85px;}
.header-btm{background:#eee; /*height:45px;*/}
#content{min-height:450px; padding:20px; background:#eee;}
footer{background:#454545; height:200px;}
.clear-fix{clear:both;}