
.loader{border-color:#f3f3f3;}
.loader-default{border-bottom-color:#DFDFDE; border-top-color:#DFDFDE;}
.loader-info{border-bottom-color:#17a2b8; border-top-color:#17a2b8;}
.loader-primary{border-bottom-color:#007bff; border-top-color:#007bff;}
.loader-secondary{border-bottom-color:#6c757d; border-top-color:#6c757d;}
.loader-light{border-bottom-color:#DEDEDF; border-top-color:#DEDEDF;}
.loader-dark{border-bottom-color:#343a40; border-top-color:#343a40;}
.loader-success{border-bottom-color:#28a745; border-top-color:#28a745;}
.loader-danger{border-bottom-color:#dc3545; border-top-color:#dc3545;}
.loader-warn{border-bottom-color:#ffc107; border-top-color:#ffc107;}

/* Border */
.loader{border-width:0.5em; border-style:solid;}

/* Border Radius */
.loader{border-radius:50%; }

/* Clip */
/* .sr-only{clip:rect(0,0,0,0);} */

/* animation */
.loader{animation:spin 1s linear infinite; -webkit-animation:spin 1s linear infinite; -moz-animation:spin 1s linear infinite;}

/* Loader */
.loader{display:inline-block; width:2rem; height:2rem; vertical-align:text-bottom;}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader-collection .loader{margin:0 0 0 10px;}
.loader-collection .loader:first-child{margin:0;}