/* Colors */
.user-name{color:#666;}
.user-sign.navigation  li a,
.user-sign li a,
.navigation-main li a{color:#eee;}
.user-sign li:hover a,
.navigation-main li:hover a{color:#fff;}

/* Background */
.user-evince{background:#f6f6f6;}
.navigation-main{background:#65ed21; background:-moz-linear-gradient(top, #65ed21 0%, #009b19 100%); background:-webkit-linear-gradient(top, #65ed21 0%, #009b19 100%); background:linear-gradient(to bottom, #65ed21 0%, #009b19 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#65ed21', endColorstr='#009b19',GradientType=0 );}
.user-sign li a{background:#555555; background:-moz-linear-gradient(top, #555555 0%, #111111 100%); background:-webkit-linear-gradient(top, #555555 0%, #111111 100%); background:linear-gradient(to bottom, #555555 0%, #111111 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#111111',GradientType=0 );}

/* Text Color */
.actwo a{background:#009b19; background:-moz-linear-gradient(
		top,
		#009b19 2%,
		#65ed21 21%,
		#65ed21 25%,
		#009b19 55%,
		#007713 80%,
		#000000 80%,
		#000000 80%
	); background:-webkit-linear-gradient(
		top,
		#009b19 2%,
		#65ed21 21%,
		#65ed21 25%,
		#009b19 55%,
		#007713 80%,
		#000000 80%,
		#000000 80%
	); background:linear-gradient(
		to bottom,
		#009b19 2%,
		#65ed21 21%,
		#65ed21 25%,
		#009b19 55%,
		#007713 80%,
		#000000 80%,
		#000000 80%
	); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#009b19', endColorstr='#000000',GradientType=0 );}
.actwo a{-webkit-background-clip:text; -webkit-text-fill-color:transparent;}

/* Border */
.navigation-main{border:1px solid #028217;}
.navigation-main li{border-left:1px solid #65ed21;}
.navigation-main li a{border-left:1px solid #028217;}
.user-sign{border:1px solid #111;}
.user-sign li a{border-left:1px solid #111;}
.user-sign li:first-child a{border-right:1px solid #555;}
/* asd{border:1px solid #666;} */
.user-avatar{border:1px solid #999;}
.user-evince,
.dropdown ul{border:1px solid #ccc;}
.dropdown ul li{border-top:1px solid #ccc; border-bottom:1px solid #eee;}
.user-name:after{border-left:6px solid transparent; border-right:6px solid transparent; border-top:7px solid #666;}
.user-evince:hover .user-name:after{border-top:7px solid #222;}

/* Radius */
.user-avatar,
.navigation-main,
.user-sign{overflow:hidden;}
.user-avatar{border-radius:50%;}
.navigation-main,
.user-sign,
.navigation-main ul,
.user-sign ul{border-radius:3px;}
.user-evince{border-radius:4px;}

/* Header :Begin */
.actwo{float:left; margin:25px 25px 0 25px;}
.actwo a{float:left; font-size:42px; line-height:42px;}
.user-point{float:right; margin-left:25px; margin-right:25px;}
.navigation-main,
.user-point{margin-top:25px;}
.navigation-main.navigation{float:none; overflow:hidden;}
.navigation-main li:first-child,
.navigation-main li:first-child a{border-left:0;}
.navigation-main ul{display:flex; flex-direction:row;}
.navigation-main ul li{flex:0%; float:none;}
.navigation-main ul li a{width:100%; text-align:center;}
.navigation.navigation-main ul, .navigation.navigation-main ul li{float:none;}
.navigation.navigation-main ul li a{padding:9px 0;}
.user-exhibition,
.user-evince,
.user-avatar,
.user-avatar img,
.user-name{float:left;}
.user-sign ul li:first-child a{border-left:0;}
.user-exhibition{position:relative; margin:0 0 0 25px;}
.user-evince{padding:0 10px;}
.user-avatar{height:40px; margin:-4px 0;}
.user-avatar,
.user-avatar img{width:40px;}
.user-name{margin:7px 10px 0 10px; padding:0 10px 0 0;}
.user-name:after{content:""; position:absolute; right:10px; top:15px;}
.user-dropdown{width:100px; right:0; top:36px;}

.user-evince:hover .user-name:hover{color:#222; cursor:pointer;}
/* Header :End */
